<header class="site-header">
  <div class="site-header__inner">
    <h1 class="site-title">
      <%= link_to "Liberation of the Soul", root_path %>
    </h1>

    <nav class="site-nav">
      <%= link_to "トップ", root_path, class: "site-nav__link" %>
      <%= link_to "バトル開始", new_battle_path(player_id: session[:player_id]), class: "site-nav__link" %>
      <%= link_to "キャラ作成", new_character_path, class: "site-nav__link" %>
    </nav>
  </div>
</header>