<!-- app/views/stories/ending_bad.html.erb -->

<h1>ゲームオーバー</h1>

<section id="ending-bad-script">
  <p class="prologue-line is-narrator">
    世界は、静かに、しかし確実に混沌の渦に呑まれていった。
  </p>

  <p class="prologue-line is-narrator">
    理性は焼き切れ、魔王以外の生物は次々と狂気に堕ちていく。<br>
    飢えた獣のように互いの血を求め、争いは際限なく広がっていった。
  </p>

  <p class="prologue-line is-narrator">
    ただ相手を喰らい、壊し、殺す。<br>
    かつて「人」と呼ばれていたものたちは、自分が何であったのかすら思い出せない。
  </p>

  <p class="prologue-line is-narrator">
    滅びゆく世界を見下ろしながら、魔王は静かに笑う。<br>
    戦いがある限り、この世界は生きている――そう信じているかのように。
  </p>

  <p class="prologue-line is-narrator">
    終わりではない。これは――魔王が望んだ、永遠の戯れの始まりにすぎない。
  </p>
</section>

<hr>

<div style="margin-top:16px;">
  <%= link_to "タイトルへ戻る", root_path, class: "btn" %>
</div>