<h1>魂の残響・第二幕</h1>

<p>
  ルナリアに、最後に伝えたい言葉を心の中で、あるいは声に出して伝えてください。<br>
</p>

<%= form_with url: submit_ending_true_message_story_path,
              method: :post,
              local: true do %>

  <div class="ending-input-block">
    <p>
    
    </p>

    <%= text_area_tag :message,
                      "",
                      rows: 3,
                      cols: 60,
                      id: "ending_message",
                      placeholder: "例）ありがとう。" %>
    <%# ここが重要：name="message" で送られる => params[:message] に入る %>
  </div>

  <div class="ending-input-actions" style="margin-top: 8px;">
    <%= submit_tag "ルナリアに想いを届ける",
                   class: "btn",
                   id: "ending-true-send-message" %>
  </div>
<% end %>